<!DOCTYPE html>
<html ng-app="neighbr">
<head>

	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="../public/js/app.js"></script>
	<script type="text/javascript">
		//Some way to refresh. Some button or timer that gets my long/lat and then updates both my map and my Messages
		//Get this to work with all of the folders moved elsewhereDONE
		//Joe says that some files don't load
		//Why do we include angular twice? DONE
		//Move angular into its own file
		function NewThread() 
		{
		}
		
		function SubmitComment()
		{
		}
		
		function ChangeRadius()
		{
		}
	</script>
	
	<script id="jsbin-javascript">
		
	</script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8qVb-dG-Ct4bVbdw8-Cq4_Ax2UTxo1w">
    </script>
	<script type="text/javascript">
		function initialize() 
		{
			var mapOptions = 
			{
				center: { lat: 40.2513513, lng: -111.6608},
				zoom: 13
			};
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			
			var circleOptions = 
			{
				strokeColor: '#0000FF',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#0000FF',
				fillOpacity: 0.35,
				map: map,
				center: map.center,
				radius: 1000
//				radius: Number(document.getElementById("radius").innerHTML)//Not quite working
			};
			var cityCircle = new google.maps.Circle(circleOptions);

		}
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	
	<style type="text/css">
      #map-canvas { height: 170px; width: 360px; margin: 0; padding: 0;}
    </style>
	<style>
	body  
	{
		background-image: url("../public/img/corkboard-background+55.png");
	}
	username
	{
		padding-left: 40px;
		font-size: 14px;
		font-weight: bold;
	}
	p
	{
		padding-left:20px;
		padding-right:20px;
		padding-top:40px;
		font-size: 14px;
		font-weight: bold;
	}
	.label 
	{
		float: left;
		text-align: left;
		background-image: url("../public/img/post_it.png");
		background-size: 200px 200px;
		background-repeat: no-repeat;
		width:205px;
		height:200px;
		color:black;
		
	}
	#focusBoard
	{
		background-image: url("../public/img/chatBackground.png");
		padding-left: 10px;
		padding-top: 5px;
	}
	</style>	
</head>

<body ng-controller="Controller">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h1 id="productName">neighbr</h1>
				<div class="row clearfix">
					<div class="col-md-8 column">
						<div>
							<h3>
								Message Board
								<sp style="padding-left:425px"></sp>
								<button onclick="NewThread()" class="btn btn-success">Create New Thread</button>
							</h3> 
						</div>
						<div style="overflow-y:scroll; height:451px;">
							<div id="{{$index}}" ng-click="openRoom($index)" class="label" ng-class="{'new-row': startNewRow($index, 3) }" ng-repeat="item in items">
								<p><message>{{ item.message }}</message></p>
								<username>--{{ item.name }}</username>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<h3>Current Thread</h3>
						<div id="focusBoard" style="overflow-y:scroll; height:210px;"></div>
						<div style="padding-top:0px; padding-bottom:10px">
							<input placeholder="new comment" id="comment" style="height:32px; width:287px;">
							<button onclick="SubmitComment()" class="btn btn-success">Submit</button>
						</div>
						<div id="map-canvas"></div>
						<div>
							<input placeholder="radius in miles" id="radius" style="height:33px; width:232px;">
							<button onclick="ChangeRadius()" class="btn btn-success">Change Radius</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>