<!DOCTYPE html>
<html ng-app="neighbr">
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="http://faviconist.com/icons/c6215edc18000d8348457becbc909cf7/favicon.ico" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
	<script src="js/app.js"></script>
    <script src="js/services.js"></script>
	
	<script type="text/javascript">	
		var latitude = 40.23;
		var longitude = -111.65;
		var searchRadius = 800;
		var prevLat = 0;
		var prevLong = 0;
		var prevRadius = 800;
	</script>
	
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8qVb-dG-Ct4bVbdw8-Cq4_Ax2UTxo1w">
    </script>
	<script type="text/javascript">
		function initialize() 
		{
			var mapOptions = 
			{
				center: { lat: latitude, lng: longitude},
				zoom: 13
			};
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			
			var circleOptions = 
			{
				strokeColor: '#0000FF',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#0000FF',
				fillOpacity: 0.35,
				map: map,
				center: map.center,
				radius: searchRadius
			};
			var cityCircle = new google.maps.Circle(circleOptions);

		}
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <title>neighbr</title>
</head>

<body ng-controller="Controller" ng-init="CheckCoordinate()">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h1 id="productName">neighbr</h1>
				<div class="row clearfix">
					<div class="col-md-8 column">
						<div>
							<h3>
								Message Board
								<sp style="padding-left:425px"></sp>
								<button ng-click="NewThread()" class="btn btn-success">Create New Thread</button>
							</h3> 
						</div>
						<div style="overflow-y:scroll; height:451px;"><!--So the issue is that openRoom uses the thread beneath, which is no longer the right type. Try using index instead, and then in the openRoom() function you can find the correct object to send over-->
							<div id="{{$index}}" ng-click="openRoom($index)" class="label" ng-class="{'new-row': startNewRow($index, 3) }" ng-repeat="thread in threadPreview.threads | orderBy: 'timestamp'">
								<p>{{ thread.message }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<h3>Current Thread</h3>
						<div id="focusBoard" style="overflow-y:scroll; height:210px;">
                            <ul class="list-group">
                                <div ng-repeat="comment in currentThread.comments">
                                    <h4 class="list-group-item-heading">{{comment.user}}</h4>
                                    <li class="list-group-item">{{comment.body}}</li>
                                </div>
                            </ul>
                        </div>
						<div style="padding-bottom:10px">
                            <form ng-submit="SubmitComment()">
                                <input ng-model="comment" name="comment" placeholder="new comment" class="form-control"/>
                                <input type="submit" id="submit" value="Submit" class="btn btn-success"/>
                            </form>
						</div>
						<div id="map-canvas"></div>
						<div>
							<input placeholder="radius in miles" id="radius" style="height:33px; width:232px;">
							<button ng-click="ChangeRadius()" class="btn btn-success">Change Radius</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
