<!DOCTYPE html>
<html ng-app="app">
<head>

	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	
	<script type="text/javascript">
		//Some way to refresh. Some button or timer that gets my long/lat and then updates both my map and my Messages
		//Get this to work with all of the folders moved elsewhereDONE
		//Joe says that some files don't load
		//Why do we include angular twice? DONE
		//Move angular into its own file
		function NewThread() 
		{
		}
		
		function SubmitComment()
		{
		}
		
		function ChangeRadius()
		{
		}
	</script>
	
	<script id="jsbin-javascript">
		var app = angular.module('app', []);

		app.controller('Controller', ['$scope', function (scope) 
		{
			var text = '{ "threads" : [' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"How is everyone?", "name":"sk8trkd"},' +
								'{"message":"Good, thanks, and you?", "name":"mollyJane"},' +
								'{"message":"Splendiferous", "name":"sk8trkd"},' +
								'{"message":"Has anyone seen my puppy", "name":"Mary-Lou"},' +
								'{"message":"No...and technically speaking, you should have started that in a new message board", "name":"sk8trkd"},' +
								'{"message":"Why?", "name":"Mary-Lou"},' +
								'{"message":"Just to keep things organized", "name":"sk8trkd"},' +
								'{"message":"Yeah, I have your cat, kid, and might give him back for a ransom", "name":"black-van"},' +
								'{"message":"Oh no!", "name":"Mary-Lou"},' +
								'{"message":"We gotta find this loser", "name":"sk8trkd"},' +
								'{"message":"Well he has to be within a three-block radius", "name":"mollyJane"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"How about a test?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Test again", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"So I want one that has a whole lot of text so I can test how well it all fits within the neccesary boundaries. This should push me over the edge and into tomorrow", "name":"Samson McGilligan"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Just want to make sure everything works right", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"See anything good lately?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Read anything good lately?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"How about a game of go fish?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Pretty quiet neighborhood", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Seriously, is no one else here?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"*cricket chirps*", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Almost done with these test cases", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"One more, you think?", "name":"sk8trkd"}' +
							']' +
						'},' +
						'{ "locationX":52.4, "locationX":60.3, "timestamp":802.11,' +
							' "entries" : [' +
								'{"message":"Yeah, this will be the end", "name":"sk8trkd"}' +
							']' +
						'}' +
					']}';
			var jsonObject = JSON.parse(text);
			
			var threadPreview = '{"threads" : [';
			for(var k = 0; k < (jsonObject.threads.length-1); k++)
			{
				var messageToDisplay = jsonObject.threads[k].entries[0].message;
				if(messageToDisplay.length > 105)
				{
					messageToDisplay = messageToDisplay.substring(0, 102);
					messageToDisplay += '...';
				}
				threadPreview += '{"message":"';
				threadPreview += messageToDisplay;
				threadPreview += '","name":"';
				threadPreview += jsonObject.threads[k].entries[0].name;
				threadPreview += '"},';
			}
			
			var messageToDisplay = jsonObject.threads[jsonObject.threads.length-1].entries[0].message;
			if(messageToDisplay.length > 105)
			{
				messageToDisplay = messageToDisplay.substring(0, 102);
				messageToDisplay += '...';
			}
			threadPreview += '{"message":"';
			threadPreview += messageToDisplay;
			threadPreview += '","name":"';
			threadPreview += jsonObject.threads[k].entries[0].name;
			threadPreview += '"}]}';
			var jsonPreview = JSON.parse(threadPreview);
			scope.items = jsonPreview.threads;
		  
			scope.columnBreak = 3;
		  
			scope.startNewRow = function (index, count) 
			{
				return ((index) % count) === 0;
			};
		  
			scope.openRoom = function(rightID)
			{ 		
				var focusText = "<b>";
				focusText += jsonObject.threads[rightID].entries[0].message
				focusText += "<br> --";
				focusText += jsonObject.threads[rightID].entries[0].name;
				focusText += "</b><ul><br>";
				var index = 1;
				while(index < jsonObject.threads[rightID].entries.length)
				{
					focusText += "<li>";
					focusText += jsonObject.threads[rightID].entries[index].message;
					focusText += "<br>-- ";
					focusText += jsonObject.threads[rightID].entries[index].name;
					focusText += "</li>";
					index++;
				}
				focusText +="</ul>";				
				document.getElementById("focusBoard").innerHTML = focusText;
				//Open room
			};		
		}]);
	</script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8qVb-dG-Ct4bVbdw8-Cq4_Ax2UTxo1w">
    </script>
	<script type="text/javascript">
		function initialize() 
		{
			var mapOptions = 
			{
				center: { lat: 40.2513513, lng: -111.6608},
				zoom: 13
			};
			var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			
			var circleOptions = 
			{
				strokeColor: '#0000FF',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#0000FF',
				fillOpacity: 0.35,
				map: map,
				center: map.center,
				radius: 1000
//				radius: Number(document.getElementById("radius").innerHTML)//Not quite working
			};
			var cityCircle = new google.maps.Circle(circleOptions);

		}
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	
	<style type="text/css">
      #map-canvas { height: 170px; width: 360px; margin: 0; padding: 0;}
    </style>
	<style>
	body  
	{
		background-image: url("../public/img/corkboard-background+55.png");
	}
	username
	{
		padding-left: 40px;
		font-size: 14px;
		font-weight: bold;
	}
	p
	{
		padding-left:20px;
		padding-right:20px;
		padding-top:40px;
		font-size: 14px;
		font-weight: bold;
	}
	.label 
	{
		float: left;
		text-align: left;
		background-image: url("../public/img/post_it.png");
		background-size: 200px 200px;
		background-repeat: no-repeat;
		width:205px;
		height:200px;
		color:black;
		
	}
	#focusBoard
	{
		background-image: url("../public/img/chatBackground.png");
		padding-left: 10px;
		padding-top: 5px;
	}
	</style>	
</head>

<body onload="addTable()" ng-controller="Controller">
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h1 id="productName">neighbr</h1>
				<div class="row clearfix">
					<div class="col-md-8 column">
						<div>
							<h3>
								Message Board
								<sp style="padding-left:425px"></sp>
								<button onclick="NewThread()" class="btn btn-success">Create New Thread</button>
							</h3> 
						</div>
						<div style="overflow-y:scroll; height:451px;">
							<div id="{{$index}}" ng-click="openRoom($index)" class="label" ng-class="{'new-row': startNewRow($index, 3) }" ng-repeat="item in items">
								<p><message>{{ item.message }}</message></p>
								<username>--{{ item.name }}</username>
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<h3>Current Thread</h3>
						<div id="focusBoard" style="overflow-y:scroll; height:210px;"></div>
						<div style="padding-top:0px; padding-bottom:10px">
							<input placeholder="new comment" id="comment" style="height:32px; width:287px;">
							<button onclick="SubmitComment()" class="btn btn-success">Submit</button>
						</div>
						<div id="map-canvas"></div>
						<div>
							<input placeholder="radius in miles" id="radius" style="height:33px; width:232px;">
							<button onclick="ChangeRadius()" class="btn btn-success">Change Radius</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>